<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Thunder Routes</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtSjBdJRohMoWi4nG4odkKwuR9rxoRSBI"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="app/geoService.js"></script>
  <script src="app/app.js"></script>
  <script src="app/mapCtrl.js"></script>
  <script src="app/mapFactory.js"></script>
  <script src="app/geoService.js"></script>
</head>
<body ng-app="roadtrippin" ng-controller="mapController">
  <h1>Thunder Routes</h1>
	<input id="start" type="text" placeholder="Enter start point" ng-model="route.start"/>
	<input id="end" type="text" placeholder="Enter end point" ng-model="route.end" />
  <select>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <button>Get Stops</button>
  <div id="map"></div>
</body>
</html>
