<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Thunder Routes</title>
  <!-- styles -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Fugaz+One|Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="style.css">
  <!-- External resources -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtSjBdJRohMoWi4nG4odkKwuR9rxoRSBI&libraries=places"></script>
  <script src="lib/angular/angular.js"></script>
  <!-- Our resources -->
  <script src="app/geoService.js"></script>
  <script src="app/app.js"></script>
  <script src="app/mapCtrl.js"></script>
  <script src="app/mapFactory.js"></script>
  <script src="app/geoService.js"></script>
</head>
<body ng-app="roadtrippin" ng-controller="mapController">
  <div id="wrapper">
    <header>
      <h1>Thunder Routes</h1>
    </header>
      <form>
        <label for="start">Start: </label>
        <input id="start" type="text" placeholder="Enter start point" ng-model="route.start"/>
        <label for="end">Destination: </label>
        <input id="end" type="text" placeholder="Enter end point" ng-model="route.end" />
        <select>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <button ng-click="getRoute()">Get Stops</button>
      </form>
      <div id="left">
        <div id="map"></div>
      </div>
      <div id="right">
        <div id="info">
          <h3>Your Stops</h3>
          <!-- Need to add actual object name for ng-repeat -->
          <div class="stop-info" ng-repeat="place in places">{{place.name}}<br/>{{place.address}}</div>
        </div>
        <div id="savedRoutes"></div>
          <div></div>
      </div>
  </div>
  <div id="invisible"></div>
</body>
</html>