/*General*/
* {margin:0; padding: 0;}
body {font-family: "Source Sans Pro", Arial, Helvetica}
#wrapper {margin: 0 auto; width: 75%;}

/*Header*/
header{width: 800px; margin: 0 auto;}
h1{text-align: center}
form {margin: 0 auto; max-width: 500px;}
/*Map*/
#map {
  margin-top: 10px;
  height: 350px;
  width: 500px;
}