*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", Arial, Helvetica;
}

header {
  background-color: #003136;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 999;
}

h1 {
  text-align: center; 
  font: 3em "Fugaz One"; 
  color: white; 
}

.signout {
  float: right;
  margin-right: 25px;
  color: white;
  cursor: pointer;
}

.signout:hover {
  text-decoration: none;
  color: orange;
}

form {
  text-align: center;
  margin-bottom: 25px;
}

form * {
  margin-right: 10px;
}

.form-control {
  height: 40px;
}

.spacer {
  height: 100px;
  margin-bottom: 25px;
  overflow: hidden;
}

#map {
  height: 350px;
}

h3 {
 font:1.5em "Fugaz One"; 
 color: #FFF; 
 padding: 10px 0;
 background-color: #003136;
}

.info-content {
  overflow: scroll;
}

.info {
  padding: 5px 0; 
  border-bottom: 1px solid black;
}

.stop-name {
  font-size:1.3em;
}

.stop-address {
  line-height: 5px;
}

.routeBtn {
  margin-top: 10px;
}

.container {
  margin-bottom: 25px;
  overflow: hidden;
}
