<div class="col-xs-12 savedRoutes">
  <h3 class="infoHeader"><i class="fa fa-caret-right fa-rotate-90" aria-hidden="true"></i>My Trips</h3>
  <div class="row info save-routes" ng-repeat="route in myTrips">
    <div class="col-xs-4">
      <h4 class="nickName">Wicked trip title</h4>
      <p class="route-start">From: {{ route.startPoint }}</p>
      <p class="route-end">To: {{ route.endPoint }}</p>
    </div>
    <div class="col-xs-4">
      <!-- <div class="stop-count">Number of stops: <br /> {{ route.wayPoints.length/2 }}</div> -->
      <div class="stop-count">{{route.wayPoints.length/2}} stop<span ng-if="route.wayPoints.length > 2">s</span></div>
    </div>
    <div class="col-xs-4 centered">
      <button class="saved-route-link btn" ng-click="viewSavedRoute(route.hash)">View this Route</button>
    </div>
  </div>
</div>

<script>
$(".infoHeader").on("click", function (e){
  $(this).parent().find(".info").toggle();
  $(this).parent().find("button").toggle();
  $(this).parent().find("i").toggleClass("fa-rotate-90");
});
</script>