<div class="savedRoutes">
  <h3 class="infoHeader"><i class="fa fa-caret-right fa-rotate-90" aria-hidden="true"></i>My Trips</h3>
  <div class="row info save-routes" ng-repeat="route in myTrips">
    <div class="col-xs-4">
      <h4 class="nickName">{{ route.nickName }}</h4>
      <p class="route-start">From: {{ route.startPoint }}</p>
      <p class="route-end">To: {{ route.endPoint }}</p>
      <a class="pull-left" href="Javascript:void(0)" ng-if="!route.showComments" ng-click="toggle(route)">Show comments</a>
      <a class="pull-left" href="Javascript:void(0)" ng-if="route.showComments" ng-click="toggle(route)">Hide comments</a>
    </div>
    <div class="col-xs-4">
      <!-- <div class="stop-count">Number of stops: <br /> {{ route.wayPoints.length/2 }}</div> -->
      <div class="stop-count pull-right">{{route.wayPoints.length/2}} stop<span ng-if="route.wayPoints.length > 2">s</span></div>
    </div>
    <div class="row"></div>
    <div class="comments col-xs-8"  ng-if="route.showComments">
      <!-- <div ng-repeat="comment in route.comments"> -->
        <!-- <p>{{comment.user}}:  {{comment.text}}</p> -->
         <section>
            <md-subheader class="md-success">Comments</md-subheader>
              <md-list layout="column" layout-padding>
                <md-list-item class="md-6-line" ng-repeat="comment in route.comments">
                  <img ng-src="https://d1fj9gpaeca6ia.cloudfront.net/static/global/images/no_profile_photo.png" class="md-avatar" >
                  <div class="md-list-item-text">
                    <h4>{{comment.user}}</h4>
                    <!-- <h4>{{comments.text}}</h4> -->
                    <p>
                      {{comment.text}}
                    </p>
                  </div>
                </md-list-item>
              </md-list>
          </section>
      <!-- </div> -->
      <form ng-submit="sendComment(route)" class="pull-left">
        <!-- <input ng-model="msg.text" type="text" placeholder="Add a comment"> -->
        <!-- <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
        <label>Name</label>
        </md-input-container>
        </div> -->
        <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Text</label>
                    <input ng-model="msg.text">
                  </md-input-container>
                </div>
      </form>
    </div>
  </div>
</div>

<script>
$(".infoHeader").on("click", function (e){
  $(this).parent().find(".info").toggle();
  $(this).parent().find("button").toggle();
  $(this).parent().find("i").toggleClass("fa-rotate-90");
});
</script>