*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, Helvetica;
}

#funcNav {
  background-color: #003136;
  width: 100%;
  max-width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 999;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  font: 30px "Fugaz One";
  color: white;
  display: inline-block;
}
.dropdown {
  display: inline-block;
  margin-right: 50px;
}

.initial-form {
  margin-bottom: 10px;
}

.account-signup {
  float: right;
}

.account-signin {
  float: right;
}

.dropdown-toggle {
  background: rgba(0,0,0,0);
  color: white;
  outline: none;
  border: none;
  margin-top: 15px;
  position: relative;
  left: 50%;
  display: block;
}

.acct,
.caret {
  font-family: Helvetica;
  font-weight: 200;
  color: white;
}

.dropdown-menu {
  color: black;
}

.dropdown-menu>li>a:hover {
  text-decoration: none;
  color: #F2932E;
}

.spacer {
  height: 90px;
  overflow: hidden;
  background-color: #003136;
}

form {
  text-align: center;
  margin-bottom: 25px;
  padding-top: 10px;
}

form * {
  margin-right: 10px;
}

.btn a {
  color: #333;
}

.btn a:hover {
  text-decoration: none;
  color: #333;
}

.btn:hover {
  cursor: pointer;
  background-color: #F2932E;
}

.form-control {
  height: 40px;
}

.container {
  padding: 15px 0;
}

.row{
  margin: 0 15px 25px;
}

#map {
  height: 415px;
}

.pac-container:after {
  background-image: none !important;
  height: 0px;
}

i {
  padding: 0 10px;
}

h3 {
 font: 1.5em "Fugaz One";
 color: #FFF;
 padding: 10px 0;
 background-color: #003136;
}

.savedRoutes {
  float: none;
  margin: 0 auto;
}

.saved-routes {
  margin-bottom: 0;
  position: relative;
  top: 50%;
}

.infoHeader {
  margin-top: 0;
}

.info-content {
  overflow-y: scroll;
}

.info {
  padding: 25px 0;
  margin: 0;
  text-align: center;
  border-bottom: 2px groove #d5d8d3;
}

.info:last-of-type {
  border-bottom: none;
}

.stop-name {
  font-size: 1.3em;
}

.stop-address {
  margin: 0;
}

.route-start, 
.route-end {
  text-align: left;
  margin-bottom: 0
}

.saved-route-link {
  float: right;
}

.dont-show {
  visibility: hidden;
}

.badge {
  margin-left: 5px;
  background: red;
}

.nickName {
  font: 1.5em "Fugaz One";
  color: #003136;
  text-align: left;
  margin-bottom: 0px;
}
/*******profile View*******/
.profile-item, .friends-list {
  border: 2px solid #00a5ae;
  padding: 10px 10px;
  max-width: 450px;
  margin: 10px 10px;
  color: #00353e;
}

.friends-list h4 {
  border-bottom: 2px solid #00a5ae;
  width: 100px;
}
.friends-list ul {
  margin: 0;
  padding: 0;
}
 .friend-item {
  display: inline;
  float: left;
  margin-right: 15px;
}
.profile-item h2, .profile-item h5, .profile-item hr {
  margin: 5px;
}

/******Trips******/
.comments {
  text-align: left;
}


.this {
  margin-bottom: -5px
}


.createdAt {
  font-family: "Roboto", Arial, Helvetica;
  font-size: 15px;
  padding-left: 10px;
  font-style: italic;
}

