<!-- Header -->
<header class="col-xs-12" id="funcNav">
  <a id="#top"></a>
  <div class="dropdown col-xs-offset-10 col-xs-2 dont-show">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span class="acct">Account</span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#" id="signup" ng-click="signup()">Sign Up</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#" id="signout" ng-click="signout()">Sign Out</a></li>
    </ul>
  </div>
  <h1 class="title col-xs-10">Thunder Routes</h1>
</header>
<div>
  <h1>Sign in</h1>
  <div role="alert" ng-show="loginError">{{ errorMessage }}</div>
  <form class="form-horizontal col-xs-offset-4 col-xs-4" name="signinForm" ng-submit="signin(signinForm.$valid)">
    <div class="form-group">
      <input type="text" class="form-control initial-form" placeholder="username" ng-model="user.username" required />
      <input type="password" class="form-control initial-form" placeholder="password" ng-model="user.password" required />
      <button class="btn btn-block">Sign In</button>
      </div>
  </form>
  <div class="col-xs-offset-4 col-xs-4">
    <span class="text-left"> Don't have an account? </span> &nbsp;
    <button class="btn account-signup"><a href="#/signup">Sign up</a></button></a>
  </div>
</div>
